@model IEnumerable<Rentacarproject.Dto.ContactDtos.ResultContactDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int Index = 1;
}
<link href="~/Admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Araba Listesi</h4>
                <p class="card-subtitle mb-4">
                    The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page
                    that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                </p>

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Message)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SendDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Index
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @item.SendDate.ToShortDateString()
                                </td>
                                <td>
                                   
                                    <a href="@Url.Action("Delete", "Contact", new { area = "Admin", id = item.ContactID})" class="btn btn-lg btn-danger">Sil</a>
                                </td>
                            </tr>
                            Index++;
                        }
                    </tbody>
                </table>

             



            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

@section Scripts {
    <!-- third party js -->
    <script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.flash.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.select.min.js"></script>
    <script src="~/Admin/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Admin/plugins/datatables/vfs_fonts.js"></script>
    <!-- third party js ends -->
    <!-- Datatables init -->
    <script src="~/Admin/vertical/assets/pages/datatables-demo.js"></script>
}
