@using Rentacarproject.Dto.CarDtos
@model List<ResultCarWithBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<link href="~/Admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />

<!-- App css -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Buttons example</h4>
                <p class="card-subtitle mb-4">
                    The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page
                    that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                </p>

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Yakıt Türü</th>
                            <th>Vites Türü</th>
                            <th>Kilometre</th>
                            <th>Bagaj</th>
                            <th>Koltuk</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach(var x in Model){
                        <tr>
                            <td>@x.brandName</td>
                            <td>@x.model</td>
                            <td>@x.fuel</td>
                            <td>@x.transmission</td>
                            <td>@x.km</td>
                            <td>@x.luggage</td>
                            <td>@x.seat</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
@section Scripts {
    <script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
    <script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
    <script src="~/Admin/vertical/assets/js/waves.js"></script>
    <script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>

    <!-- third party js -->
    <script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.flash.min.js"></script>
    <script src="~/Admin/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Admin/plugins/datatables/dataTables.select.min.js"></script>
    <script src="~/Admin/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Admin/plugins/datatables/vfs_fonts.js"></script>
    <!-- third party js ends -->
    <!-- Datatables init -->
    <script src="~/Admin/vertical/assets/pages/datatables-demo.js"></script>


    <!-- App js -->

}
