@model IEnumerable<Rentacarproject.Dto.CommentsDto.ResultCommentDto>

@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Author Listesi</h4>
                <p class="card-subtitle mb-4">
                    The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page
                    that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CommentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BlogId)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BlogId)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("Create", "Author", new { area = "Admin" })" class="btn btn-primary waves-effect waves-light">Yeni Author Ekle</a>



            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
